.popup{
	opacity: 0;
	visibility: hidden;
	width: 100%;
	background: rbga(0,0,0,0.5);
	position: fixed;
	inset: 0;
	z-index: 11;
	-webkit-transition: all .5s;
	transition: all .5s;
	&.active{
		opacity: 1;
		visibility: visible;
	}
	&-close{
		position: absolute;
		right: 25px;
		top: 25px;
		font-size: 20px;
		cursor: pointer;
	}
	&-title{
		font-weight: 700;
		text-align: center;
		line-height: 30px;
		margin-bottom: 29px;
		font-size: 26px;
	}
	.form-group{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-bottom: 20px;
		label{
			width: 100%;
			line-height: 40px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			line-height: 24px;
			margin-bottom: 7px;
		}
		input[type="text"]{
			width: 100%;
			height: 40px;
			padding: 0 15px;
			border: 1px solid var(--color_border);
			border-radius: 4px;
			font-size: 14px;
			font-family: var(--font_family);
			padding-right: 40px !important;
		}
		.btn_register{
			width: 100%;
			height: 40px;
			background: var(--background_button);
			color: #fff;
			border: none;
			border-radius: 4px;
			font-size: 16px;
			font-family: var(--font_family);
			cursor: pointer;
		}
	}
}
@media screen and (max-width: 768px) {
	.popup{
		&-content {
			width: 90%;
		}
		&-body {
			display: block !important;
			form {
				margin-top: 15px;
			}
		}
	}
	
}