.form-title {
    background-color: #fff;
    margin-bottom: 0;
    font-size: 16px;
}

.helper {
    margin-bottom: 24px;
    font-size: 14px;
}

.py-6 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.hidden {
    display: none;
}

.preview-box {
    padding: 10px;
    border: 1px dotted #d3d3d3;
    max-width: 850px;
    margin-top: 24px;
    margin-bottom: 10px;
}
